/22127128.docx
/22127128.pdf
/BaoCao1.docx
/BC- Ngày thu mẫu.xlsx
/BCCV_3.1.docx
/Danh lục động thực vật VQG U Minh Hạ 10082025.xlsx
/Data_gui_Long.rar
/~$Danh lục động thực vật VQG U Minh Hạ 10082025.xlsx
/Ảnh BC-VQG UMH.rar
/Ảnh TV-BC-UMH.rar